body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #03252a, #22434b, #03252a);
    color: white;
}

.cabecalho {
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.logo {
    max-height: 80%;
    border-radius: 50%;
    margin: 0 3%;
}

.name {
    margin-right: 3%;
}

section {
    
}

.titleh2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.atividades {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    background-color: #123842;
    width: 300px;
}

.atividades:hover {
    transform: scale(1.1);
}

@media(max-width: 768px) {
    .container {
        justify-content: center;
    }

}

.imagens {
    max-width: 100%;
}

.links {
    display: flex;
    align-items: center;
    width: 100%;
}

.links ul {
    list-style: none;
    width: 100%;
}

.links ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

button {
    border-radius: 5px;
    border: none0;
}

button:hover {
    transform: scale(1.3);
}
